body {
  background: radial-gradient(rgb(204, 255, 255),rgb(153, 255, 204),rgb(77, 255, 166));
  margin: 5px;
}
.header {
  height: 150px;
  position: relative;
  text-align: center;
  display: block;
  background: url("../img/new.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-color: wheat;
}
.nav-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 10px;
}
.nav-left {
margin-left: 20px;
text-transform: uppercase;
border-bottom: 1px solid transparent;
transition: border-bottom 300ms;
}
.nav-link a {
  text-decoration: none;
  color: rgb(115, 115, 115);
  font-family: 'Sriracha', cursive;
  font-weight: bold;
  padding-left: 5px;
}
h1 {
color: rgb(0, 68, 204);
font-size: 5.5em;
font-style: italic;
padding-top: 25px;
font-family: 'Suez One', serif;
}
img {
  width: 200px;
  height:200px;
  border-radius: 35%;
  border: solid;
}
.logo-img img{
  height: 25px;
  width: 25px;
  border-radius: 25%;
}
.pcontent {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.2em;
}
.main-wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  
}